[submodule "python-fastapi-api"]
    path = python-fastapi-api
    url = https://github.com/iamfritz/python-fastapi.git
[submodule "react-fastapi"]
    path = react-fastapi
    url = https://github.com/iamfritz/react-fastapi.git
