[submodule "laravel-api"]
    path = laravel-api
    url = file:///D:/laragon/www/laravel-ai/laravel-api
[submodule "node-api"]
    path = node-api
    url = file:///D:/laragon/www/laravel-ai/node-api
[submodule "react-nextjs"]
    path = react-nextjs
    url = file:///D:/laragon/www/laravel-ai/react-nextjs
